<!DOCTYPE html>
  <html>
    <head></head>
    <body>
      </p>
      <%= message %>
      <p>
    </body>
    <form>
      <input type="text" name="guess"/>
      <input type="submit" value="Guess!"/>
    </form>
  </html>
