<!DOCTYPE html>
  <html>
    <head>
      <style>
        body {
         background: <%= color %>
       }
      </style>
    </head>
    <body>
      </p>
      <%= message %>
      <p>
      <form>
        <input type="text" name="guess"/>
        <input type="submit" value="Guess!"/>
      </form>
    </body>
  </html>
